.album-area{
  font-size: $font-size-name;
  color: $text-color-main;
  margin-top: 2rem;

  @media (min-width:670px){
    width: 45rem;
    // margin-top: .5rem;
    margin: .5rem auto 0;
  }
  .album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    
    @media (min-width:670px){
    padding-top: 3rem;
    flex-direction: row-reverse;
    align-items: flex-start;
      
    }

    // &__year, &__title, &__artwork{
      
    //   @media (min-width:670px){
    //     width: 40.5rem;
    //   }
    // }

    &__title{
      font-size: $font-size-mobile;
      
      @media (min-width:670px){
        font-size: $font-size-album;
        width: 15ch;
        padding: .5rem 5rem 0;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -moz-text-stroke-width: 1px;
        -webkit-text-stroke-color: $text-color-main;
        -moz-text-stroke-color: $text-color-main;
      }

      &-year{
        display: none;

        @media (min-width:670px){
          display: unset;
        }
      }
    }

    .frameWord{

      @media (min-width:670px){
        
        color: unset;
        -webkit-text-stroke-width: unset;
        -moz-text-stroke-width: unset;
        -webkit-text-stroke-color: unset;
        -moz-text-stroke-color: unset;
      }
    }

    &__artwork{
      width: 65%;
      padding: 1rem 3rem;

      @media (min-width:670px){
      width: 65%;
      padding: 1rem 2rem;
      }

      img{
        width: 100%;
        transition: filter 250ms;
        filter: blur(0) grayscale(1);
        @media (min-width:670px){
          filter: blur(2px) grayscale(1);
        }

      }
      .unMask{
        filter: blur(0) grayscale(0);

        @media (min-width:670px){
  
        }
      }
    }


  }
}