.album-area{
  font-size: $font-size-name;
  color: $text-color-main;
  margin-top: 2rem;

  @media (min-width:670px){
  
  }
  .album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    
    @media (min-width:670px){
      
    }

    &__year, &__title, &__artwork{
      
      @media (min-width:670px){
        width: 40.5rem;
      }
    }

    &__year{
      font-size: $font-size-year;

      @media (min-width:670px){
        padding-top: 8rem;
      }
    }

    &__title{

    }

    &__artwork{

      img{
        width: 100%;
      }
    }
  }
}