.album-area{
  font-size: $font-size-name;
  color: $text-color-main;
  margin-top: 2rem;

  @media (min-width:670px){
    margin-top: .5rem;
    
  }
  .album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    
    @media (min-width:670px){
    padding-top: 3rem;
      
    }

    &__year, &__title, &__artwork{
      
      @media (min-width:670px){
        width: 40.5rem;
      }
    }

    &__year{
      font-size: $font-size-name;

      @media (min-width:670px){
        padding: 1rem 3rem 0;
      }
    }

    &__title{
      font-size: $font-size-name;

      @media (min-width:670px){
        padding: 0 3rem;
      }
    }

    &__artwork{
      width: 70%;
      padding: 1rem 2rem;
      position: relative;



      @media (min-width:670px){
        width: 50%;
      }
      img{
        width: 100%;
        filter: blur(5px) grayscale(1);
      }
    }

    .mask{

      color: rgba(0, 0, 0, 0.75);
      position: relative;
      z-index: 10;
    }
  }
}