

@keyframes glitch{
  0% {
    text-shadow: 
    0.05em 0 0 $color-glitch-1,
    -0.05em -0.025em 0 $color-glitch-2,
    -0.025em 0.05em 0 $color-glitch-3;
  }
  14% {
    text-shadow: 
    0.05em 0 0 $color-glitch-1,
    -0.05em -0.025em 0 $color-glitch-2,
    -0.025em 0.05em 0 $color-glitch-3;
  }
  15% {
    text-shadow: 
    -0.05em -0.025em 0 $color-glitch-1,
    0.025em 0.025em 0 $color-glitch-2,
    -0.05em -0.05em 0 $color-glitch-3;
  }
  49% {
    text-shadow: 
    -0.05em -0.025em 0 $color-glitch-1,
    0.025em 0.025em 0 $color-glitch-2,
    -0.05em -0.05em 0 $color-glitch-3;
  }
  50% {
    text-shadow: 
    0.025em 0.05em 0 $color-glitch-1,
    0.05em 0 0 $color-glitch-2,
    0 -0.05em 0 $color-glitch-3;
  }
  99% {
    text-shadow: 
    0.025em 0.05em 0 $color-glitch-1,
    0.05em 0 0 $color-glitch-2,
    0 -0.05em 0 $color-glitch-3;
  }
  100% {
    text-shadow: 
    -0.025em 0 0 $color-glitch-1,
    -0.025em -0.025em 0 $color-glitch-2,
    -0.025em -0.05em 0 $color-glitch-3;
  }
}