@font-face {
  font-family: 'ayar';
  src: url('/style/ayar.ttf');
}

$text-color-main:#ccc;

$font-size-title:6rem;
$font-size-desc:1.2rem;
$font-size-name:2rem;
$font-size-year:3rem;

$color-glitch-1:rgba(255, 175, 204,.75);
$color-glitch-2:rgba(149, 213, 178,.75);
$color-glitch-3:rgba(162, 210, 255,.75);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  font-size: 10px;
  font-family: 'ayar';

  @media (min-width:375px) {
    font-size: 11.5px;
  }
  @media (min-width:670px) {
    font-size: 12.5px;
  }
  @media (min-width:768px) {
    font-size: 14px;
  }
  @media (min-width:1024px) {
    font-size: 18px;
  }
  @media (min-width:1280px) {
    font-size: 24px;
  }
}


body{
  background-color: rgb(40, 40, 40);
}
.container{
  position: relative;
}

.noise {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100vh;
  
  pointer-events: none;
  opacity: .035;
}