.cursor1, .cursor2{
  position: fixed;
  border-radius: 50%;	
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -50px;
  top: 50%;
  mix-blend-mode: difference;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;

  display: none;
  @media (min-width:670px){
    display: unset;
  }
}

.cursor1{
  background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
}

.cursor2{
  height: 30px;
	width: 30px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}

.cursor2.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}

.cursor2{
  border: 2px solid #fff;
	box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);

  &.hover{
    background: rgba(255,255,255,1);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
  }
}