header{

  .logo{
    position: fixed;
    width: 4rem;
    padding: 1rem;

    @media (min-width:670px){
      width: 2.5rem;
      padding: .5rem;
      margin: .5rem ;
    }
    img{
      width: 100%;
    }
  }

  .banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    
    @media (min-width:670px) {
      flex-direction: row;
      padding-top: 7.5rem;

    }

    &__title{
      text-transform: uppercase;
      font-size: $font-size-title;
      letter-spacing: 0.5rem;
      color: $text-color-main;

    }
    .title--top{
      letter-spacing: 1rem;

      @media (min-width:670px){
        margin-right: 3rem;
        letter-spacing: unset;

      }
    }


  }

  .band-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    @media (min-width:670px){
      margin-top: -1rem;
      }

    &__text{
      color: $text-color-main;
      font-size: $font-size-desc;

      @media (min-width:670px){
        margin-left: 25rem;
        }
    }
  }
}