header{

  .logo{
    position: fixed;
    width: 4rem;
    padding: 1rem;

    @media (min-width:670px){
      width: 2.5rem;
      padding: .5rem;
      margin: .5rem ;
    }
    img{
      width: 100%;
    }
  }

  .banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    
    @media (min-width:670px) {
      flex-direction: row;
      padding-top: 7.5rem;
      margin-bottom: 2rem;
    }

    &__title{
      text-transform: uppercase;
      font-size: $font-size-title;
      letter-spacing: 0.5rem;
      color: $text-color-main;
      position: relative;

      text-shadow: 
      0.05em 0 0 $color-glitch-1,
      -0.025em -0.05em 0 $color-glitch-2,
      0.025em 0.05em 0 $color-glitch-3;
      
      animation:glitch 500ms infinite;

      span{
        position: absolute;
        top: 0;
        left: 0;
      }

      span:first-child{
        animation: glitch 650ms infinite;
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        transform: translate(-0.025em, -0.0125em);
        opacity: .8;
      }

      span:last-child{
        animation: glitch 375ms infinite;
        clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
        transform: translate(0.0125em, 0.025em);
        opacity: .8;
      }

    }

    .title--top{
      letter-spacing: 1rem;

      @media (min-width:670px){
        margin-right: 3rem;
        letter-spacing: unset;

      }
    }
  }

  .band-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    @media (min-width:670px){
      margin-top: -1rem;
      }

    &__text{
      color: $text-color-main;
      font-size: $font-size-desc;

      @media (min-width:670px){
        margin-left: 25rem;
        }
    }
  }
}