.member-area{
  font-size: $font-size-name;
  color: $text-color-main;
  margin-top: 1.5rem;
  
  @media (min-width:670px){
    width: 45rem;
    margin: 8rem auto;

  }
  .member{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    letter-spacing: .2rem;
    
    @media (min-width:670px){
      width: 50%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 3rem 2rem;
      transition: all .5s ease;
    }

    &__position, &__name, &__photo{
      @media (min-width:670px){
      }
    }

    &__position{
      @media (min-width:670px){
        font-size: $font-size-desc;
      }
    }

    &__name{
      margin: 0 1rem;
      @media (min-width:670px){
        margin: unset;
      }
    }

    &.active{
      @media (min-width:670px){     
        letter-spacing: .4rem;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -moz-text-stroke-width: 1px;
        -webkit-text-stroke-color: $text-color-main;
        -moz-text-stroke-color: $text-color-main;
        transform: scale(1.7) translateX(6rem);
        
      }
    }
  }
}