.member-area{
  font-size: $font-size-name;
  color: $text-color-main;
  margin-top: 1.5rem;
  

  @media (min-width:670px){
    width: 45rem;
    margin: 8rem auto;

  }
  .member{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    letter-spacing: .2rem;
    
    @media (min-width:670px){
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 3rem 2rem;
      
        

    }
    &__position, &__name, &__photo{
      
      @media (min-width:670px){
        
      }
    }

    &__position{


      @media (min-width:670px){
        font-size: $font-size-desc;

      }
    }

    &__name{
      margin: 0 1rem;

      @media (min-width:670px){
        margin: unset;
        

      }
    }

  }
  .member.active{

    @media (min-width:670px){
      display: inline-flex;
      width: 50%;
      font-weight: bold;
      letter-spacing: .4rem;
      -webkit-text-fill-color : transparent;
      -webkit-text-stroke: 1px $text-color-main;  
      
      transform: scale(1.7) translateX(6rem);
    }
    

  }
}