.member-area{
  font-size: $font-size-name;
  color: $text-color-main;
  margin-top: 1.5rem;
  @media (min-width:670px){
    width: 45rem;
    margin: 4rem auto 1rem;
    -webkit-transition: background .7s ease-in-out;
    -moz-transition: background .7s ease-in-out;
    transition: background .7s ease-in-out;
  }

  &[data-bg="0"]{
    background-image: url('/assets/member-photo/yau.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    @media (min-width:670px){
      clip-path: polygon(4% 0, 83% 3%, 86% 85%, 5% 100%, 0 31%);
    }
  }

  &[data-bg="1"]{
    background-image: url('/assets/member-photo/weiting.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 15%;
    filter: grayscale(1);
    @media (min-width:670px){
      background-position: 50% 100%;
      clip-path: polygon(29% 0, 72% 12%, 100% 73%, 75% 100%, 10% 100%, 0 18%);
    }
  }

  &[data-bg="2"]{
    background-image: url('/assets/member-photo/shih.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 15%;
    @media (min-width:670px){
      clip-path: polygon(91% 0, 100% 38%, 76% 93%, 9% 100%, 0 12%);
      background-position: 50% 10%;
    }
  }

  .member{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    
    @media (min-width:670px){
      width: 50%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      letter-spacing: .2rem;
      margin-top: 1rem;
      padding: 3rem 2rem;
      -webkit-transition: transform .4s ease-out;
      -moz-transition: transform .4s ease-out;
      transition: transform .4s ease-out;
    }

    &__position{
      @media (min-width:670px){
        font-size: $font-size-desc;
      }
    }

    &__name{
      margin: 0 1rem;
      @media (min-width:670px){
        margin: unset;
      }
    }

    &.active{
      justify-content: flex-end;
      @media (min-width:670px){     
        letter-spacing: .4rem;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -moz-text-stroke-width: 1px;
        -webkit-text-stroke-color: $text-color-main;
        -moz-text-stroke-color: $text-color-main;
        transform: scale(1.7) translateX(6rem);
      }
    }


    &.disappear{
      opacity: 0;
    }
  }
}