nav{
  font-size: $font-size-desc;
  color: $text-color-main;

  .nav-area{
    
    &__list{
      display: flex;
      justify-content: center;
      align-items: center;
      margin:1.5rem 0;
      list-style: none;

      @media (min-width:670px){
        margin: 3rem 0;
      }
      &-item{
        display: inline-block;
        text-transform: uppercase;
        padding: 0.5rem;


        @media (min-width:670px){
          padding: 1rem;
        }
      }

      &-item:nth-child(3){
        display: none;

        @media (min-width:670px){
          display: inherit;
        }
      }


    }
  }
}