@font-face {
  font-family: 'ayar';
  src: url(/style/ayar.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'ayar';
}

@media (min-width: 375px) {
  html {
    font-size: 11.5px;
  }
}

@media (min-width: 670px) {
  html {
    font-size: 12.5px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 24px;
  }
}

body {
  background-color: #282828;
}

nav {
  font-size: 1.2rem;
  color: #ccc;
}

nav .nav-area__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
}

@media (min-width: 670px) {
  nav .nav-area__list {
    padding-top: 8rem;
  }
}

nav .nav-area__list-item {
  text-transform: uppercase;
  padding: 0.5rem;
}

@media (min-width: 670px) {
  nav .nav-area__list-item {
    padding: 1rem;
  }
}

nav .nav-area__list-item:nth-child(3) {
  display: none;
}

@media (min-width: 670px) {
  nav .nav-area__list-item:nth-child(3) {
    display: inherit;
  }
}

header .logo {
  position: fixed;
  width: 4rem;
  padding: 1rem;
}

@media (min-width: 670px) {
  header .logo {
    width: 2.5rem;
    padding: .5rem;
    margin: .5rem;
  }
}

header .logo img {
  width: 100%;
}

header .banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
}

@media (min-width: 670px) {
  header .banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 7.5rem;
  }
}

header .banner__title {
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  color: #ccc;
}

header .banner .title--top {
  letter-spacing: 1rem;
}

@media (min-width: 670px) {
  header .banner .title--top {
    margin-right: 3rem;
    letter-spacing: unset;
  }
}

header .band-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

@media (min-width: 670px) {
  header .band-desc {
    margin-top: -1rem;
  }
}

header .band-desc__text {
  color: #ccc;
  font-size: 1.2rem;
}

@media (min-width: 670px) {
  header .band-desc__text {
    margin-left: 25rem;
  }
}

.member-area {
  font-size: 2rem;
  color: #ccc;
  padding-top: 1.5rem;
}

@media (min-width: 670px) {
  .member-area {
    padding-top: 5rem;
  }
}

.member-area .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
}

@media (min-width: 670px) {
  .member-area .member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 670px) {
  .member-area .member__position, .member-area .member__name, .member-area .member__photo {
    width: 40.5rem;
  }
}

@media (min-width: 670px) {
  .member-area .member__position {
    font-size: 1.2rem;
  }
}

.member-area .member__name {
  padding: 0 1rem;
}

@media (min-width: 670px) {
  .member-area .member__name {
    padding: 3rem 0rem 0rem;
  }
}

.album-area {
  font-size: 2rem;
  color: #ccc;
  padding-top: 1.5rem;
}

@media (min-width: 670px) {
  .album-area {
    padding-top: 9rem;
  }
}

.album-area .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
}

@media (min-width: 670px) {
  .album-area .album__year, .album-area .album__title, .album-area .album__artwork {
    width: 40.5rem;
  }
}

.album-area .album__year {
  font-size: 3.5rem;
}

@media (min-width: 670px) {
  .album-area .album__year {
    padding-top: 8rem;
  }
}

.album-area .album__artwork img {
  width: 100%;
}

footer {
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

footer .copyright {
  width: 40.5rem;
  text-align: right;
}
/*# sourceMappingURL=main.css.map */