@font-face {
  font-family: 'ayar';
  src: url(/style/ayar.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  font-size: 10px;
  font-family: 'ayar';

  @media (min-width:375px) {
    font-size: 12px;
  }
  @media (min-width:670px) {
    font-size: 13px;
  }
  @media (min-width:768px) {
    font-size: 14px;
  }
  @media (min-width:1024px) {
    font-size: 18px;
  }
  @media (min-width:1280px) {
    font-size: 24px;
  }
}


body{
  background-color: rgb(40, 40, 40);
}

header{

  .logo{
    width: 5rem;
    img{
      width: 100%;
    }
  }

  .banner{
    display: block;
    width: 100%;
    @media (min-width:670px) {
      display: flex;
    }
    &__title{
      text-transform: uppercase;
      font-size: 6rem;
      letter-spacing: 0.5rem;
      color: #ccc;
    }


  }
}