@font-face {
  font-family: 'ayar';
  src: url("/style/ayar.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'ayar';
}

@media (min-width: 375px) {
  html {
    font-size: 11.5px;
  }
}

@media (min-width: 670px) {
  html {
    font-size: 12.5px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 24px;
  }
}

body {
  background-color: #282828;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.container {
  position: relative;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: .04;
  z-index: -1;
}

nav {
  font-size: 1.2rem;
  color: #ccc;
}

nav .nav-area__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
  list-style: none;
}

@media (min-width: 670px) {
  nav .nav-area__list {
    margin: 3rem 0;
  }
}

nav .nav-area__list-item {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5rem;
  cursor: pointer;
}

@media (min-width: 670px) {
  nav .nav-area__list-item {
    padding: 1rem;
  }
}

nav .nav-area__list-item:nth-child(3) {
  display: none;
}

@media (min-width: 670px) {
  nav .nav-area__list-item:nth-child(3) {
    display: inherit;
  }
}

header .logo {
  position: fixed;
  width: 4rem;
  padding: 1rem;
  cursor: pointer;
}

@media (min-width: 670px) {
  header .logo {
    width: 2.5rem;
    padding: .5rem;
    margin: .5rem;
  }
}

header .logo img {
  width: 100%;
}

header .banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
}

@media (min-width: 670px) {
  header .banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 7.5rem;
    margin-bottom: 2rem;
  }
}

header .banner__title {
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  color: #ccc;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 175, 204, 0.75), -0.025em -0.05em 0 rgba(149, 213, 178, 0.75), 0.025em 0.05em 0 rgba(162, 210, 255, 0.75);
  -webkit-animation: glitch 500ms infinite;
          animation: glitch 500ms infinite;
}

header .banner__title span {
  position: absolute;
  top: 0;
  left: 0;
}

header .banner__title span:first-child {
  -webkit-animation: glitch 650ms infinite;
          animation: glitch 650ms infinite;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
          clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  -webkit-transform: translate(-0.025em, -0.0125em);
          transform: translate(-0.025em, -0.0125em);
  opacity: .8;
}

header .banner__title span:last-child {
  -webkit-animation: glitch 375ms infinite;
          animation: glitch 375ms infinite;
  -webkit-clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
          clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  -webkit-transform: translate(0.0125em, 0.025em);
          transform: translate(0.0125em, 0.025em);
  opacity: .8;
}

header .banner .title--top {
  letter-spacing: 1rem;
}

@media (min-width: 670px) {
  header .banner .title--top {
    margin-right: 3rem;
    letter-spacing: unset;
  }
}

header .band-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

@media (min-width: 670px) {
  header .band-desc {
    margin-top: -1rem;
  }
}

header .band-desc__text {
  color: #ccc;
  font-size: 1.2rem;
}

@media (min-width: 670px) {
  header .band-desc__text {
    margin-left: 25rem;
  }
}

.member-area {
  font-size: 1.6rem;
  color: #ccc;
  margin-top: 1.5rem;
}

@media (min-width: 670px) {
  .member-area {
    font-size: 2rem;
    width: 45rem;
    margin: 4rem auto 1rem;
    -webkit-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
  }
}

.member-area[data-bg="0"] {
  background-image: url("/assets/member-photo/yau.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
}

@media (min-width: 670px) {
  .member-area[data-bg="0"] {
    -webkit-clip-path: polygon(4% 0, 83% 3%, 86% 85%, 5% 100%, 0 31%);
            clip-path: polygon(4% 0, 83% 3%, 86% 85%, 5% 100%, 0 31%);
  }
}

.member-area[data-bg="1"] {
  background-image: url("/assets/member-photo/weiting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 15%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

@media (min-width: 670px) {
  .member-area[data-bg="1"] {
    background-position: 50% 100%;
    -webkit-clip-path: polygon(29% 0, 72% 12%, 100% 73%, 75% 100%, 10% 100%, 0 18%);
            clip-path: polygon(29% 0, 72% 12%, 100% 73%, 75% 100%, 10% 100%, 0 18%);
  }
}

.member-area[data-bg="2"] {
  background-image: url("/assets/member-photo/shih.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35% 20%;
}

@media (min-width: 670px) {
  .member-area[data-bg="2"] {
    -webkit-clip-path: polygon(91% 0, 100% 38%, 76% 93%, 9% 100%, 0 12%);
            clip-path: polygon(91% 0, 100% 38%, 76% 93%, 9% 100%, 0 12%);
    background-position: 50% 0%;
  }
}

.member-area .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  padding: 0 2rem;
  mix-blend-mode: difference;
}

@media (min-width: 670px) {
  .member-area .member {
    mix-blend-mode: normal;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    letter-spacing: .2rem;
    margin-top: 1rem;
    padding: 3rem 2rem;
    -webkit-transition: transform .4s ease-out;
    -webkit-transition: width .3s ease-out, -webkit-transform .4s ease-out;
    transition: width .3s ease-out, -webkit-transform .4s ease-out;
    transition: transform .4s ease-out, width .3s ease-out;
    transition: transform .4s ease-out, width .3s ease-out, -webkit-transform .4s ease-out;
  }
}

@media (min-width: 670px) {
  .member-area .member:nth-last-child(1) {
    padding: 3rem 2rem 0;
    margin-bottom: 3rem;
  }
}

@media (min-width: 670px) {
  .member-area .member__position {
    font-size: 1.2rem;
  }
}

.member-area .member__name {
  margin: 0 .5rem;
}

@media (min-width: 670px) {
  .member-area .member__name {
    margin: unset;
  }
}

.member-area .member.active {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 670px) {
  .member-area .member.active {
    width: 50%;
    letter-spacing: .4rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ccc;
    -moz-text-stroke-color: #ccc;
    -webkit-transform: scale(1.7) translateX(6rem);
            transform: scale(1.7) translateX(6rem);
  }
}

.member-area .member.disappear {
  opacity: 0;
}

.album-area {
  font-size: 2rem;
  color: #ccc;
  margin-top: 2rem;
}

@media (min-width: 670px) {
  .album-area {
    width: 45rem;
    margin: .5rem auto 0;
  }
}

.album-area .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
}

@media (min-width: 670px) {
  .album-area .album {
    padding-top: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.album-area .album__title {
  font-size: 1.6rem;
}

@media (min-width: 670px) {
  .album-area .album__title {
    font-size: 2.2rem;
    width: 15ch;
    padding: .5rem 5rem 0;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ccc;
    -moz-text-stroke-color: #ccc;
  }
}

.album-area .album__title-year {
  display: none;
}

@media (min-width: 670px) {
  .album-area .album__title-year {
    display: unset;
  }
}

@media (min-width: 670px) {
  .album-area .album .frameWord {
    color: unset;
    -webkit-text-stroke-width: unset;
    -moz-text-stroke-width: unset;
    -webkit-text-stroke-color: unset;
    -moz-text-stroke-color: unset;
  }
}

.album-area .album__artwork {
  width: 65%;
  padding: 1rem 3rem;
}

@media (min-width: 670px) {
  .album-area .album__artwork {
    width: 65%;
    padding: 1rem 2rem;
  }
}

.album-area .album__artwork img {
  width: 100%;
  -webkit-transition: -webkit-filter 250ms;
  transition: -webkit-filter 250ms;
  transition: filter 250ms;
  transition: filter 250ms, -webkit-filter 250ms;
  -webkit-filter: blur(0) grayscale(1);
          filter: blur(0) grayscale(1);
}

@media (min-width: 670px) {
  .album-area .album__artwork img {
    -webkit-filter: blur(2px) grayscale(1);
            filter: blur(2px) grayscale(1);
  }
}

.album-area .album__artwork .unMask {
  -webkit-filter: blur(0) grayscale(0);
          filter: blur(0) grayscale(0);
}

footer {
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

footer .copyright {
  width: 40.5rem;
  text-align: right;
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 175, 204, 0.75), -0.05em -0.025em 0 rgba(149, 213, 178, 0.75), -0.025em 0.05em 0 rgba(162, 210, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 175, 204, 0.75), -0.05em -0.025em 0 rgba(149, 213, 178, 0.75), -0.025em 0.05em 0 rgba(162, 210, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 175, 204, 0.75), 0.025em 0.025em 0 rgba(149, 213, 178, 0.75), -0.05em -0.05em 0 rgba(162, 210, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 175, 204, 0.75), 0.025em 0.025em 0 rgba(149, 213, 178, 0.75), -0.05em -0.05em 0 rgba(162, 210, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 175, 204, 0.75), 0.05em 0 0 rgba(149, 213, 178, 0.75), 0 -0.05em 0 rgba(162, 210, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 175, 204, 0.75), 0.05em 0 0 rgba(149, 213, 178, 0.75), 0 -0.05em 0 rgba(162, 210, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 175, 204, 0.75), -0.025em -0.025em 0 rgba(149, 213, 178, 0.75), -0.025em -0.05em 0 rgba(162, 210, 255, 0.75);
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 175, 204, 0.75), -0.05em -0.025em 0 rgba(149, 213, 178, 0.75), -0.025em 0.05em 0 rgba(162, 210, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 175, 204, 0.75), -0.05em -0.025em 0 rgba(149, 213, 178, 0.75), -0.025em 0.05em 0 rgba(162, 210, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 175, 204, 0.75), 0.025em 0.025em 0 rgba(149, 213, 178, 0.75), -0.05em -0.05em 0 rgba(162, 210, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 175, 204, 0.75), 0.025em 0.025em 0 rgba(149, 213, 178, 0.75), -0.05em -0.05em 0 rgba(162, 210, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 175, 204, 0.75), 0.05em 0 0 rgba(149, 213, 178, 0.75), 0 -0.05em 0 rgba(162, 210, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 175, 204, 0.75), 0.05em 0 0 rgba(149, 213, 178, 0.75), 0 -0.05em 0 rgba(162, 210, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 175, 204, 0.75), -0.025em -0.025em 0 rgba(149, 213, 178, 0.75), -0.025em -0.05em 0 rgba(162, 210, 255, 0.75);
  }
}

.cursor1, .cursor2 {
  position: fixed;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -50px;
  top: 50%;
  mix-blend-mode: difference;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  display: none;
}

@media (min-width: 670px) {
  .cursor1, .cursor2 {
    display: unset;
  }
}

.cursor1 {
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99999;
}

.cursor2 {
  height: 30px;
  width: 30px;
  z-index: 99998;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cursor2.hover {
  -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
  transform: scale(2) translateX(-25%) translateY(-25%);
  border: none;
}

.cursor2 {
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}

.cursor2.hover {
  background: white;
  -webkit-box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.menu-area {
  display: none;
  width: 100%;
  height: 100vh;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0s !important;
            transition-duration: 0s !important;
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
  }
}
/*# sourceMappingURL=main.css.map */